
  <span class="tile" *ngIf="ratingAllowed" style="cursor: pointer;" (click)="showRating()">
    <div> <!--jak usunę ten div to psuje mi się dostęp do value - usunąć ten div i zmienić dostęp do value!-->
      <span>{{name}}</span>
    </div>
    <span *ngIf="clicked" class="rating">
      <i *ngIf="data < 1" class="material-icons rating-stars" (click)="rate(1)">star_border</i> <i *ngIf="data >= 1" class="material-icons rating-stars" (click)="rate(1)">star</i>
      <i *ngIf="data < 2" class="material-icons rating-stars" (click)="rate(2)">star_border</i> <i *ngIf="data >= 2" class="material-icons rating-stars" (click)="rate(2)">star</i>
      <i *ngIf="data < 3" class="material-icons rating-stars" (click)="rate(3)">star_border</i> <i *ngIf="data >= 3" class="material-icons rating-stars" (click)="rate(3)">star</i>
    <i *ngIf="data < 4" class="material-icons rating-stars" (click)="rate(4)">star_border</i> <i *ngIf="data >= 4" class="material-icons rating-stars" (click)="rate(4)">star</i>
    <i *ngIf="data < 5" class="material-icons rating-stars" (click)="rate(5)">star_border</i> <i *ngIf="data >= 5" class="material-icons rating-stars" (click)="rate(5)">star</i>
  </span>
  <a class="mama"><i class="material-icons close" style="margin: 0 5px; cursor: pointer;" (click)="delete()">close</i></a>
</span>
