<span class="tile">
    <span *ngIf="!fromSis">{{addedSkill.name}}</span>
    
    <form *ngIf="fromSis">
        <input [(ngModel)]="addedSkill.name" name="userInput" type="text" style="border: none; font-size: 16px; background-color: rgba(255,255,255, 0.3); padding: 5px; border-radius: 24px;">
        <!-- <i *ngIf="userInput" (click)="clearInput()">close</i> -->
    </form>

    <span class="rating">
        <i *ngIf="addedSkill.value < 1" class="material-icons rating-stars">star_border</i> <i *ngIf="addedSkill.value >= 1" class="material-icons rating-stars">star</i>
        <i *ngIf="addedSkill.value < 2" class="material-icons rating-stars">star_border</i> <i *ngIf="addedSkill.value >= 2" class="material-icons rating-stars">star</i>
        <i *ngIf="addedSkill.value < 3" class="material-icons rating-stars">star_border</i> <i *ngIf="addedSkill.value >= 3" class="material-icons rating-stars">star</i>
        <i *ngIf="addedSkill.value < 4" class="material-icons rating-stars">star_border</i> <i *ngIf="addedSkill.value >= 4" class="material-icons rating-stars">star</i>
        <i *ngIf="addedSkill.value < 5" class="material-icons rating-stars">star_border</i> <i *ngIf="addedSkill.value >= 5" class="material-icons rating-stars">star</i>
    </span>

    <span *ngIf="fromSis" class="rating">
            <i *ngIf="data < 1" class="material-icons rating-stars" (click)="rate(1, $event)">star_border</i> <i *ngIf="data >= 1" class="material-icons rating-stars" (click)="rate(1, $event)">star</i>
            <i *ngIf="data < 2" class="material-icons rating-stars" (click)="rate(2, $event)">star_border</i> <i *ngIf="data >= 2" class="material-icons rating-stars" (click)="rate(2, $event)">star</i>
            <i *ngIf="data < 3" class="material-icons rating-stars" (click)="rate(3, $event)">star_border</i> <i *ngIf="data >= 3" class="material-icons rating-stars" (click)="rate(3, $event)">star</i>
          <i *ngIf="data < 4" class="material-icons rating-stars" (click)="rate(4, $event)">star_border</i> <i *ngIf="data >= 4" class="material-icons rating-stars" (click)="rate(4, $event)">star</i>
          <i *ngIf="data < 5" class="material-icons rating-stars" (click)="rate(5, $event)">star_border</i> <i *ngIf="data >= 5" class="material-icons rating-stars" (click)="rate(5, $event)">star</i>
        </span>
    <a class="mama" *ngIf="fromSis"><i class="material-icons close" style="margin: 0 5px; cursor: pointer;" (click)="delete()">close</i></a>
</span>
