/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
// @import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~@angular/material/theming';
@include mat-core();

@import './variables';
@import './my-theme';


.my-theme {
  @include angular-material-theme($my-theme);
}


body { 
  margin: 0;
  padding: 10px;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}


* {
    font-family: Arial;
}

// GFT BLUE                         #213E7F
// TURQUOISE (HIGHLIGHT COLOUR 1)   #0098B0
// LIGHT BLUE (HIGHLIGHT COLOUR 2)  #0097D9

// ACCENT COLOUR ORANGE             #ff6800