<mat-card class="skill-card">
  <mat-card-title>
    Languages
  </mat-card-title>

  <p style="font-size:0.8em;">
    Choose one of our most popular or add your own. If they don't apply to you, you don't have to delete them, we won't see them unless you choose them.
  </p>

  <mat-chip-list>
    <tile *ngFor="let exampleSkill of exampleSkills" [name]="exampleSkill.name" [exampleSkill]="exampleSkill"></tile>
  </mat-chip-list>

  <br>
  <mat-divider></mat-divider>
  <br>


  <div class="container">
    <mat-chip-list>
      <main-tile *ngFor="let tile of skillsService.addedSkills" [addedSkill]="tile" [fromSis]="editMode"></main-tile>
    </mat-chip-list>
    
      <i *ngIf="skillsService.addedSkills.length > 0 && pen" class="material-icons edit corner" (click)="edit()" style="cursor: pointer;">edit</i>
      <i *ngIf="!pen" class="material-icons edit corner" (click)="edit()" style="cursor: pointer;">done</i>

  </div>

  
  <br>

  <mat-card-footer>
    <span style="font-size:0.8em;">Add below by following this pattern: Java *5. You can also add more</span>
    <i *ngIf="skillsService.addedSkills.length > 0" class="material-icons edit corner" style="cursor: pointer;">edit</i>
    <mat-form-field [floatLabel]="options.value.floatLabel">
      <mat-label>Add your own</mat-label>
      <input matInput placeholder="eg. Java" [formControl]="nameValue" (input)="addedName = $event.target.value" required>
    </mat-form-field>
  </mat-card-footer>
  <!-- <br/>
  <form-skill-addition-powerfull></form-skill-addition-powerfull> -->
</mat-card>