mat-form-field {
    margin-top: 30px;
    width: 100%;
  }
  
  mat-card-footer {
    background-color: #f2f2f2;
    padding: 20px 30px 30px 30px;
  }

.container {
  display: flex;
  min-height: 40px;
}

.corner {
  position: absolute;
  right: 30px;
}

.rating {
  cursor: pointer;
}