<mat-tab-group>
	<mat-tab label="Draft">
		<mat-card class="main-doc">

			<div class="white">
				<mat-card>
					<mat-card-title>
						Profile
					</mat-card-title>
					<p>Hi, I'm Marti blabla bla</p>
				</mat-card>
			</div>
			<div class="grey">
				<skills></skills>

			</div>

			<div class="white">
				<mat-card>
					<mat-card-title>
						Workplace
					</mat-card-title>
					<p>blabla bla</p>
				</mat-card>
			</div>

		</mat-card>
	</mat-tab>

	<mat-tab label="Approved version">
		<mat-card class="main-doc">

			<div class="white">
				<mat-card>
					<mat-card-title>
						Profile
					</mat-card-title>
					<p>Hi, I'm Marti blabla bla</p>
				</mat-card>
			</div>
			<div class="grey">
				<mat-card class="skill-card">
					<mat-card-title>
						Languages
					</mat-card-title>

					<br>
					<mat-divider></mat-divider>
					<br>
					<mat-chip-list>
						<mat-chip color="accent" selected="true">Java <span>⭐⭐</span></mat-chip>
						<mat-chip color="accent" selected="true">Scala <span>⭐⭐⭐⭐⭐</span></mat-chip>
						<mat-chip color="accent" selected="true">JavaScript <span>⭐⭐⭐⭐⭐</span></mat-chip>
						<mat-chip color="accent" selected="true">C# <span>⭐</span></mat-chip>
					</mat-chip-list>
					<br>

				</mat-card>

			</div>

			<div class="white">
				<mat-card>
					<mat-card-title>
						Workplace
					</mat-card-title>
					<p>blabla bla</p>
				</mat-card>
			</div>

		</mat-card>
	</mat-tab>

</mat-tab-group>