.main-doc {
    padding: 0;
    margin: 2% 10%;
  }
  
  .white {
    background-color: #EDEDED;
    padding: 5%;
  }
  
  .grey {
    background-color: #FFF;
    padding: 5%;
  }
  
  
  .mat-tab-body-content {
    padding: 0;
  }